<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <div class="sidebar-section">
        <script type="text/javascript">
            atOptions = {
                'key' : '7f175a581abebb15ed8e5eef5cd0bf33',
                'format' : 'iframe',
                'height' : 250,
                'width' : 300,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="//www.topcreativeformat.com/7f175a581abebb15ed8e5eef5cd0bf33/invoke.js"></scr' + 'ipt>');
        </script>
    </div>
</div>